<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fash.sketch.fashzip">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".utils.GlobalClass"
        android:theme="@style/MyTheme">

        <activity android:name=".screen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".screen.LoginScreen"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity android:name=".screen.Signup"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity android:name=".screen.Drawer_Activity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity android:name=".screen.ProductDetailScreen"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity android:name=".screen.CartScreen"
            android:windowSoftInputMode="adjustPan|stateHidden"/>




    </application>

</manifest>